{{ define "body" }}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta name="viewport" content="width=device-width">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Title of the document</title>
    </head>
        <p>{{.message}}</p>
    <body>
    </body>

{{end}}